/* styles.css */

body {
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s;
}

/* Dark mode switch styles */
.mode-switch {
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.mode-switch input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mode-switch-label {
    cursor: pointer;
    display: block;
    background-color: #ddd;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    transition: background-color 0.3s;
}

.mode-switch-label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.mode-switch-label .sun {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #f1c40f;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s;
}

.mode-switch-label .moon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #f39c12;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.mode-switch input:checked + .mode-switch-label {
    background-color: #27ae60;
}

.mode-switch input:checked + .mode-switch-label:before {
    transform: translateX(30px);
}

.mode-switch input:checked + .mode-switch-label .sun {
    opacity: 0;
}

.mode-switch input:checked + .mode-switch-label .moon {
    opacity: 1;
}

/* dark mode background */
body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

/* Discord link styles */
.discord-link {
    margin-top: 20px;
    font-size: 18px;
}

.discord-link a {
    display: flex;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.discord-link a:hover {
    color: #05e3fc;
}

.discord-link i {
    margin-right: 5px;
}
